<div class="row">
  <h1>Shortener..er</h1>

  <%=form_for @url do |f|%>
    <%= f.label :Url %>
    <%= f.url_field :full_url %>
    <%= f.submit %>
  <%end%><br>


  <% @urls.each do |url|%>
    <div class="large-6 columns">
     <%= url.full_url %>
     <%= url.slug%>
    </div>
  <% end %>
</div>