<% @urls.each do |url|%>
  <div class="large-4 small-6 columns">
    <div class="panel panel-fix">

      <div class="row">
        <div class="large-6 columns">
          <%= image_tag "#{url.favicon}", size: "35x35"%>
        </div>
        <div class="large-6 columns">
          <%= url.popularity %> Views
        </div>
      </div><hr>
      <div class="row text-center">
        <% if url.title.size > 35%>
          <%= link_to "#{truncate(url.title)} ...", url_path(url.id), :onclick => "alert('Now Leaving Shortener')"%>
        <% else %>
          <%= link_to "#{url.title}", url_path(url.id), :onclick => "alert('Now Leaving Shortener')"%>
        <% end %>
      </div><br>
      <div class="row text-center">
        <%= url.full_url %>
      </div>
    </div><br>
  </div>
<% end %><br>