<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/shrink.png"/>
    <title><%= content_for?(:title) ? yield(:title) : "Shortener" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: "shared/flash", id: "flash" %>
    <div class="row">
      <div class="large-6 columns">
        <h1><%= link_to "Shortener..er", root_path, class: "black" %></h1>
      </div>
      <div class="large-6 columns search">
        <%= render partial: 'shared/search_bar'%>
      </div>
    </div>
    <%= yield %>
  </body>
</html>